
@import "settings";

@import
//   "foundation/components/thumbs",
   "foundation/components/grid",
   "foundation/components/block-grid",
   "foundation/components/forms",
   "foundation/components/reveal",
   "foundation/components/clearing",
   "foundation/components/type";

//   "foundation/components/buttons",
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


h2 {
	margin-top: $header-top-margin/2;
}
h1, h2, h3, h4, h5 {
//	letter-spacing: 1px;
//	color: #eee;
}
p {
//	text-align: justify;
}
a {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
		color: #fff;
	}
}
h1 a {
	text-decoration: none;
	color: #eee;
}

ul.navi{
//	margin-top: rem-calc(20);
}

ul.no-bullet li {
	padding-bottom: rem-calc(8);
}
.row {
	padding-top: rem-calc(20);
	padding-bottom: rem-calc(70);
}

.pfooter {
	padding-bottom: 0;
	margin-bottom: 0;
}

h5 {
	color: #999;
	font-weight: 400;
}

h4 {
		font-size: 1rem;		
	}


textarea {
	height: 5rem;
}

.invert {
	color: #444;
}

::selection {
    background: #E8E7BE;
    color: #000;
}

::-moz-selection {
    background: #E8E7BE;
    color: #000;
}

// font sizes media queries
@media #{$small-up} {
	h1 {
		font-size: rem-calc(36);
	}
	h2 {
		font-size: rem-calc(28);
	}

	h5 {
		font-size: 1rem;
	}
}
@media #{$medium-up} {
	h1 {
		font-size: rem-calc(54);
	}
	h2 {
		font-size: rem-calc(30);
	}
	h5 {
		font-size: 1rem;
	}
}
@media #{$large-up} {
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 1.6rem;
	}
	h5 {
		font-size: 1rem;
	}
}
